/* GENERAL */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Poppins:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');


body {
  background-image: linear-gradient(rgba(255,0,0,0), rgba(198,224,247,1));
  align-items: center;
  justify-content: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;}
h1 {font-size: 40px;
    font-family: 'Montserrat', sans-serif;;}

h3{font-size: 18px;
  font-family: 'Lexend', sans-serif;
}

h5{font-size: 16px;
  font-family: 'Lexend', sans-serif;
}

p{color:rgb(13, 14, 13)}

/* EXTERNAL-NAV */

nav, 
.nav-links  {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 2rem;
}

a{color: black;
text-decoration: none;
text-decoration-color: rgb(0, 26, 51)
;}

a:hover {
color:rgb(0, 26, 51);
text-decoration: underline;
text-underline-offset: 1rem;
text-decoration-color: rgb(0, 51, 102);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
cursor: default;
}


/* NAVIGATION */
nav, 
.navi  {
  display: flex;
}

.navi {
  gap: 3rem;
  list-style: circle;
  font-size: 1.5rem;
}

/* SECTIONS */
.section__text {
  align-self: center;
  text-align: center;
  font-size: 1.75rem;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* ABOUT */

#about {
display: flex;
justify-content: center;
text-align: left;
gap: 4rem;
min-height: 20vh;
padding-bottom: 62px;
}

.section__logo {
  flex: 100%;
  min-width: 35%;
  margin-bottom: 10px;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text__P2 {
  text-decoration-style: wavy;
}


/* WORK */
#work {
  margin-top: 80px;
  margin-bottom: 64px;
}
.logo {
  padding: 20px;
}

/* IMAGES */
.column{
  flex:50%;
  padding:5px;
}
.row {
  display: flex;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

/* INSPIRATION */

#inspirations {
  border-collapse: collapse;
  width: 100%;
}

#inspirations td, #inspirations th {
  border: 1px solid #ddd;
  padding: 8px;
}

#inspirations tr:nth-child(even){background-color: rgb(255, 255, 255);}
#inspirations tr:nth-child(odd){background-color: rgb(193, 193, 228);}

#inspirations tr:hover {background-color: rgb(97, 196, 183);}

#inspirations  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2987d4;
  color: rgb(255, 255, 255);
}

#inspo {
  margin-bottom: 64px;
}

/* FOOTER */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #1D1D1D;
  color: white;
  text-align: center;
}

/* BUTTON */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#btn-alert {
  font-size: 24px;
  font-weight: 200;
  text-decoration: none;
  position: relative;
  border: 0px solid #1D1D1D;
  color: #fff;
  background: linear-gradient(90deg, #2987d4, #b729d4);
  padding: 14px 40px;
  border-radius: 42px;
  cursor: pointer;
  transition: background 0.3s;
}

#btn-alert:hover {
  background: #1D1D1D;
}

#btn-counter {
  font-size: 24px;
  font-weight: 200;
  text-decoration: none;
  position: relative;
  border: 0px solid #1D1D1D;
  color: #fff;
  background: #2987d4;
  padding: 14px 40px;
  border-radius: 42px;
  cursor: pointer;
  transition: background 0.3s;
}

#txt-counter {
  font-size: 24px;
  font-weight: 200;
  text-decoration: none;
  position: relative;
  border: 0px solid #1D1D1D;
  background: #1D1D1D;
  padding: 14px 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
  padding: 10px 20px;
}

.even {
  color: gold;
}

.odd {
  color: white;
}

/* MEDIA BREAK POINTS */
@media (max-width: 600px) {
  h1{
    font-size: 30px;
    line-height: 50px;
  }
  h2{
    font-size: 22px;
    line-height: 50px;
  }
  h3{
    font-size: 12px;
    line-height: 50px;
  }
  P{
    font-size: 14px;
  }

  h5{
    font-size: 16px;
  }
  th{
    font-size: 12px;
  }
  td{font-size: 12px;
  }
  a{
    font-size: 14px;
  }
  .logo {
    font-size: 1.5rem;
  }

  #btn-alert {
    font-size: 12px;
    font-weight: 200;
    position: relative;
  }

  #btn-counter {
    font-size: 12px;
    font-weight: 200;
    position: relative;
  }

  #txt-counter {
    font-size: 12px;
    font-weight: 200;
    position: relative;
  }

}
