/* GENERAL */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Poppins:wght@200&display=swap');


body {background-color: rgb(127, 182, 230);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;}
h1 {font-size: 40px;
    font-family: 'Montserrat', sans-serif;;}

